.button {
  color: var(--dl-color-black);
  display: inline-block;
  padding: 0.5rem 1rem;
  border-color: var(--dl-color-black);
  border-width: 1px;
  border-radius: 4px;
  background-color: var(--dl-color-white);
}

:root {
  --dl-color-gray-dark: rgb(58, 71, 77);
  --dl-color-gray-main: #595959;
  --dl-color-gray-light: #a4a4a4;
  --dl-size-size-large: 144px;
  --dl-size-size-small: 48px;
  --dl-color-primary: #ec5033;
  --dl-color-primary-l1: #f1664c;
  --dl-color-primary-l2: #ec715a;

  --dl-color-green: #57b25d;
  --dl-color-green-l1: #6ead71;
  --dl-color-green-l2: #7cb27f;

  --dl-color-black: #000000;
  --dl-color-white: #FFFFFF;

  --dl-size-size-medium: 96px;
  --dl-size-size-xlarge: 192px;
  --dl-size-size-xsmall: 16px;
  --dl-size-size-xxlarge: 288px;
  --dl-size-size-maxwidth: 1400px;

  --dl-radius-radius-round: 50%;

  --dl-space-space-unit: 16px;
  --dl-space-space-halfunit: 8px;
  --dl-space-space-sixunits: 96px;
  --dl-space-space-twounits: 32px;
  --dl-radius-radius-radius2: 2px;
  --dl-radius-radius-radius4: 4px;
  --dl-radius-radius-radius8: 8px;
  --dl-space-space-fiveunits: 80px;
  --dl-space-space-fourunits: 64px;
  --dl-space-space-threeunits: 48px;
  --dl-space-space-oneandhalfunits: 24px;
}

.input {
  color: var(--dl-color-black);
  cursor: auto;
  padding: 0.5rem 1rem;
  border-color: var(--dl-color-black);
  border-width: 1px;
  border-radius: 4px;
  background-color: var(--dl-color-white);
}

.textarea {
  color: var(--dl-color-black);
  cursor: auto;
  padding: 0.5rem;
  border-color: var(--dl-color-black);
  border-width: 1px;
  border-radius: 4px;
  background-color: var(--dl-color-white);
  resize: none;
}

.list {
  width: 100%;
  margin: 1em 0px 1em 0px;
  display: block;
  padding: 0px 0px 0px 1.5rem;
  list-style-type: none;
  list-style-position: outside;
}
 
.list-item {
  display: list-item;
}
 
.teleport-show {
  display: flex !important;
  transform: none !important;
}
 
.Content {
  font-size: 16px;
  font-family: Inter;
  font-weight: 400;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}
 
.Heading {
  font-size: 32px;
  font-family: Inter;
  font-weight: 700;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}
